body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 90%;
}
.game-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.images, .words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}
.images img, .words div {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
  transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
  flex: 1 0 30%;
  max-width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top right, #ffffff, #f1f1f1);
}
.images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.images img:hover, .words div:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.images img.selected, .words div.selected {
  border-color: #007BFF;
}
.images img.matched, .words div.matched {
  cursor: default;
  border-color: #28a745;
  background-color: #e6ffe6;
}
.message {
  font-size: 2em;
  color: #333;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message i {
  margin-left: 10px;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
}
.lives i {
  color: red;
}
.line {
  position: absolute;
  background-color: #007BFF;
  height: 3px;
  z-index: 0;
  transform-origin: 0 0;
  transition: background-color 0.3s;
}
.line.matched {
  background-color: #28a745;
}
@media (max-width: 599px) {
  .container {
      flex-direction: column;
  }
  .game-area {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
  }
  .images, .words {
      margin: 10px;
      flex: 1;
  }
  .message {
      order: 3;
      margin-top: 20px;
  }
}