body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #f0f0f0;
}

#gameCanvas {
  background-image: url('background3.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* Game over dialog */
#gameOverDialog {
  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 10px;
}

#gameOverDialog img {
  width: 200px;
  height: auto;
}

.dialog p {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.dialog button {
  background-color: #0095DD;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.dialog button:hover {
  background-color: #0077BB;
}

#scoreContainer {
  position: fixed;
  z-index: 10;
  color: black;
  left: 50%;
  top: 15px;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  transform: translateX(-50%);
}

#lives {
  position: fixed;
  z-index: 10;
  top: 25px;
  right: 15px;
  display: flex;
  align-items: center;
}

.life-icon {
  display: inline-block;
  font-size: 24px; /* Ukuran ikon */
  color: red;
  margin-left: 5px;
}

.cloud-icon {
  width: 40px;
  height: auto;
  margin-left: 10px;
}

@media (max-width: 768px) {
  #scoreContainer {
      font-size: 16px;
      top: 10px;
  }

  .life-icon {
      font-size: 30px; /* Sesuaikan ukuran ikon di perangkat kecil */
  }

  #gameOverDialog p {
      font-size: 20px;
  }

  .dialog button {
      font-size: 16px;
      padding: 8px 16px;
  }
}
